
.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    border: 2px solid;
    border-radius: 0.5em;
}

.loginBox * {
    margin-bottom: 1em;
}
.loginBox span{
    margin-top: 1em;
}