
.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    border: 0.1em solid;
    border-radius: 0.5em;
    width: 350px;
}

.loginBox * {
    margin-bottom: 1em;
}

.loginBox span{
    margin-top: 1em;
}

input:-webkit-autofill,
.MuiInputBase-root:has(+ input:-webkit-autofill) {
    -webkit-text-fill-color: blue;
}
