* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF UI Text Regular', sans-serif;
}

.ff {
    font-family: 'SF UI Text Regular', sans-serif;
    color: red;
}

@font-face {
    font-family: 'SF UI Text Regular', sans-serif;
    src: local("SF UI Text Regular"),
     url("./styles/fonts/SFUIText-Regular.ttf") format("truetype");
     font-weight: 400;
}